{% extends "base.html" %}
{% block content %}
  <div class="container">
    <!-- FIRST ROW OF BLOCKS -->     
      <div class="row">

        <!-- VIDEO STREAM -->
        <div class="col-md-8">
          <div class="dash-unit three-row">
            <dtitle>Camera Feed</dtitle>
            <hr>
            <div class="cam-feed">
              <img class="camera-stream" src="{{ url_for('dashboard.video_feed') }}">
            </div>
          </div>
        </div>

        <!-- WIDGET BLOCK -->
        <div class="col-sm-3 col-lg-3">
          <!-- LOCAL TIME -->
          <div class="half-unit">
            <dtitle>Local Time</dtitle>
            <hr>
            <div class="clockcenter">
              <digiclock>12:45:25</digiclock>
            </div>
          </div>

          <!-- SERVER UPTIME -->
          <div class="half-unit">
            <dtitle>Empty Widget</dtitle>
            <hr>
            <div></div>
          </div>

          <div class="half-unit">
            <dtitle>Empty Widget</dtitle>
            <hr>
            <div></div>
          </div>

        </div>
        <!-- END WIDGET BLOCK -->
        
      </div><!-- /row -->

<!--       <div class="row">
        <div class="col-md-4">
          <div class="dash-unit">
            <dtitle>Map</dtitle>
            <hr>
            <div class="map-container"></div>
          </div>
        </div>
      </div> -->
  </div>
{% endblock %}